@page "/deptdelete"
@using AmritaAssignment.Data
@using Microsoft.AspNetCore.Http


<PageTitle>Department Deletion</PageTitle>
<h1 class="display-1">Department deletion</h1>
@if (dept_deleted)
{
    <p class="lead">Dept Added</p>
    dept_deleted= false;
}

<EditForm Model="@dept_" OnValidSubmit="HandleValidSubmit">
    <div class="form-group mb-2">
        <label for="Name" class="lead">Name</label>
        <input id="Name" type="text" placeholder="Enter Name" class="form-control" @bind="dept_.dept_name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
@code {
        private Department dept_ = new();
        private DepartmentViewFrontEnd dp = new();
        public bool dept_deleted = false;
        protected void HandleValidSubmit()
        {
            dept_deleted = true;
            dp.Delete_(dept_.dept_name);
            dept_.dept_name = "";
    }

}

