
@page "/deptselect"
@using AmritaAssignment.Data
@using MySql.Data.MySqlClient

<h3 class="Display-1 lead">Department Selection</h3>
<PageTitle>Department Selection</PageTitle>


<EditForm Model="@dept_" OnValidSubmit="HandleValidSubmit">
    <div class="form-group mb-2">
        <label for="Name" class="lead">Name</label>
        <input id="Name" type="text" placeholder="Enter Name" class="form-control" @bind="dept_.dept_name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
@if (DataSelected)
    {
<table class="table table-stripped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Department ID</th>
            <th scope="col">Department Name</th>
            <th scope="col">Date Created</th>
        </tr>
    </thead>
    <tbody>
        <tr>
      
            @foreach(var dept in Departments)
{
                    <td>@dept.detp_id_</td>
                    <td>@dept.dept_name</td>
                    <td>@dept.date_</td>

}
        </tr>
    </tbody>
</table>
    }

@code {
    public bool DataSelected = false;
    private Department dept_ = new();
    private DepartmentViewFrontEnd dp = new();
    MySql.Data.MySqlClient.MySqlDataReader? data;
    public List<Department>? Departments;

    protected void HandleValidSubmit()
    {
        data = dp.Select(dept_.dept_name);
        dept_.dept_name = "";
        GetData(data,out Departments);
        DataSelected = true;
    }

    protected void GetData(MySql.Data.MySqlClient.MySqlDataReader reader, out List<Department> Dept)

    {
        Dept = new();
        while (reader.Read())
        {
            Dept.Add(new Department()
            {
                dept_name = reader.GetString("DEPT_NAME"),
                detp_id_ = reader.GetInt32("DEPT_ID"),
                date_ = reader.GetDateTime("DATE_CREATED"),

            });

        }
    }

}


