@page "/deptinsert"
@using Microsoft.AspNetCore.Http
@using AmritaAssignment.Data
@using System
@inject NavigationManager NavigationManager
<PageTitle>Department Insertion</PageTitle>
@if (dept_added)
{
        <p class="lead">Dept Added</p>
        dept_added = false;
    }
<h1 class="display-1">Department Insertion</h1>
<EditForm Model="@dept_" OnValidSubmit="@HandleValidSubmit">
    <div class="form-group mb-2">
        <label for="Name">Name</label>
        <input id="Name" type="text"  placeholder="Enter Name" class="form-control" @bind ="dept_.dept_name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</EditForm>

@code{
    private Department dept_ = new();
    private DepartmentViewFrontEnd dp = new();
    public bool dept_added = false;

    protected void HandleValidSubmit()
{
        dept_added = true;
        dp.Insert(dept_.dept_name);
        dept_.dept_name = "";
}
}
